body {
  background-color: #FAEBE0;
  font-family: 'Raleway';
  margin: 0 15% 10%;
  line-height: 1.5;
  text-align: justify;
}

img {
  height: 200px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-color: #A7C4BC;
  border-width: 7px;
}

h1 {
  color: #66BFBF;
  font-size: 3rem;
}

h3 {
  color: #C490E4;
}

.edu {
  color: #92A9BD;
}

.small {
  font-size: 15px;
}

.dp{
  opacity: 0.9;
}

.right{
  text-align: right;
}

.dp:hover {
  opacity: 1;
}

.a:hover {
  font-size: 1.25rem;
}
